 #email,#password{
            border-radius: 5px;
            border-color: rgb(128, 92, 160);
            border-style: solid;
            border-width: 2px;
            padding: 10px;
            font-size: 16px;
        }
        .labels {
            color: rgb(128, 92, 160);
        }
        #loginButton{
         margin-left: 290px;    
        }
